body {
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
input,select{
    border: black solid 1px;
    border-radius: 20px;
    height: auto;
   max-width: 100%;
    padding: 12px; /* Equivalent to p-3 in Tailwind */
    outline: none; /* Remove default focus outline */
}

input:focus,select:focus {
    border: none;
    outline: 2px solid #93C5FD; /* Equivalent to focus:outline-blue-300 */
}


